<!DOCTYPE html>

<html>
	<head>
		<title>Build-a-blog</title>
	</head>
	
	<style type="text/css">
	body {
		background-color: lime;
		font-family: sans-serif;
		width: 800px;
		margin: 0 auto;
		padding: 10px;
	}
	
	h1 {
		font-color: blue;
	}
	hr {
		margin: 20px auto;
	}
	
	.post-title {
		font-weight: bold;
		font-size: 20px;
	}
	
	.post-body {
		margin: 0;
		font-size: 17px;
	}
	</style>
	
	<body>
	<h1>Build-a-blog</h1>
    <a href="/post">Submit</a>
	<form>
	<hr>
	{% for bPost in bPosts %}
		<div class="post">
			<div class="post-title">{{bPost.title}}</div>
			<pre class="post-body">{{bPost.bPost}}</pre>
            <hr>
		</div>
	{% endfor %}
	
	</body>
</html>
